async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.11.1
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
cryptography==37.0.4
google-search-results==2.4.1
h11==0.13.0
idna==3.3
latexcodec==2.0.1
outcome==1.2.0
pandas
numpy
pybtex==0.24.0
pycparser==2.21
pyOpenSSL==22.0.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML
selenium==4.2.0
shutup
six
sniffio
sortedcontainers
soupsieve
tqdm
trio
trio-websocket
urllib3
wsproto
